
@media (max-width:495px) {
    body {
        background-color: black;
        overflow-x: hidden !important;
        margin-right: -24vh;
    }
    .navtop div{
        font-size:0.9rem!important;
        padding: 0.7rem 2rem;
    }
    .ieee_logo {
        border-radius: 50%;
        max-width: 50px;
        top: 8%;
        right: -25%;

    }
    .home1 .left1 {
        /* color: white;
        font-family: 'Garamond', Calibri, 'Trebuchet MS', sans-serif; */
        margin-top: -20%;
        margin-bottom: 25%;
        max-height: 250px;
        padding-left:28px;
        text-align: center;
        align-content: center;
        justify-content: space-evenly;
    }
    .downloadbro {
        font-size: 20px;
        padding: 3%;
        width: 80vw;
        margin: 20px auto;
    }
    .downloadbro:hover {
        background-color: rgb(63, 62, 62);
        cursor: pointer;
        color: #fff;
    }
}
